.hero{
padding: 2%;
}

.Education{
    padding: 3%;    
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 0; 
}

.box{
    width: auto;
    height: auto;
    border: 5px solid gray;
    margin: 0;
    padding: 2%;
}