*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  height: 100%;
  font-size: 16px;
}

body{
  font-family: "Stack Sans Notch", sans-serif;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: bisque;
}

p{
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
}

a{
  text-decoration: none;
  color: inherit;
}

a:hover{
  text-decoration: underline;
}

nav{
  font-weight: 400;
  background-color: aquamarine;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 1%;
  padding-bottom: 1%;
  display: flex;
  justify-content: space-between;
}

footer{
  background-color: aqua;
  clear: both;
  margin-top: auto;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 3%;
}